@import '../../styles/basic';
:host {
  display: block;

  .icon {
    height: 1em;
    //width: 1.28571429em;
    font-size: 3em;
  }

  & > div {
    max-width: 400px;
    margin: 10% auto 0 auto;
    padding: 10px;
    .box-shadow;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: #F8F8F8;

    .list-element.core {
      background-color: #203346;
      color: white;
      /*
      &:hover {
        cursor: pointer;
        background-color: lighten(#203346, 5%);
      }
      */
    }
    .list-element.sf {
      background-color: #00a1e0;
      color: white;
    }
    .list-element {
      .status {
        font-size: 2em;
        line-height: 2em;
      }
    }

    /*
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .core-login {
        margin: 10px 0;
        display: inline-block;
        position: relative;
        text-align: right;
        padding: 0.35em;
        background-color: #3e5388;
        border-radius: .3em;
        border: 2px solid #444;
        font-size: 1.4em;
        color: white;
        text-shadow: 0 1px 1px #000;
        &:hover {
          cursor: pointer;
          background-color: #5d76b5;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
          margin-bottom: 10px;
        }
      }
    }
    */
  }
}

.list {
  display: flex;
  flex-direction: column;
  .list-element {
    display: flex;
    .icon {
      padding: 4px;
    }
    .title {
      font-size: 1.25em;
    }
  }
  .list-element.tall {
    & > .content {
      padding: 8px 0;
    }
    & > .icon {
      margin: auto 0;
    }
  }
  .list-element > .content {
    flex-grow: 1;
  }

  .list-element.bordered {
    border: 1px solid rgba(0, 0, 0, 0.18);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
