@import "../../styles/basic";

:host {
  display:inline-block;
  background: white;
  &.isWindow .body {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 200px;
    min-width: 400px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  user-select: none;
  & > * {
    padding: 8px;
    font-size: 16px;
  }
}
form {
  .form-group {
    .form-group-title {
      border-bottom: 1px solid @off-white;
      font-size: 18px;
    }
    .form-control {
      padding: 8px;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }

  }
  .form-control {
    label, .about {
      display: block;
    }
  }
}
