<div [class.window]="isWindow">
  <div *ngIf="isWindow" class="header">
    <div>
      <span class="fa" [ngClass]="_element | classToString | typeToClass"></span>
      <span *ngIf="_element" class="hoverlink" (click)="toggleOpen()">{{ _element.name }}</span>
      <span *ngIf="fullPath" class="fa fa-external-link hoverlink" [routerLink]="fullPath.path" [fragment]="fullPath.fragment"></span>
      <span *ngIf="!_element">Loading...</span>
    </div>
    <div>
      <span class="hoverlink fa fa-remove" (click)="onClose()"></span>
    </div>
  </div>
  <div *ngIf="!isWindow">
    <h1>{{ _element ? _element.name : 'New Element' }}</h1>
  </div>
  <div *ngIf="!isWindow || config.open" class="body">
    <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
      <div [ngSwitch]="_element | classToString:false">
        <div *ngSwitchCase="'component'">
          <div class="form-group">
            <div class="form-group-title">General</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group-title">Pricing</div>
            <div class="form-control">
              <label>Buy:</label>
              <input formControlName="buy" type="number" min="0.00" max="1000000" step="0.01">
              <small class="about">Item buy price override.</small>
            </div>
            <div class="form-control">
              <label>Sell:</label>
              <input formControlName="sell" type="number" min="0.00" max="1000000" step="0.01">
              <small class="about">Item sell price override.</small>
            </div>
            <div class="form-control">
              <label>Core part:</label>
              <input formControlName="catalog">
              <small class="about">Core reference part.</small>
            </div>
            <div class="form-control">
              <label>Qty:</label>
              <input formControlName="qty" type="number" min="1" max="1000000" step="1">
              <small class="about">Core reference part quantity.</small>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'child'">
          <div class="form-group">
            <div class="form-group-title">General</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-group-title">Quantity</div>
            <div class="form-control">
              <label>Qty:</label>
              <input formControlName="qty" type="number" min="1" max="1000000" step="1">
              <small class="about">Component quantity.</small>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'folder'">
          <div class="form-group">
            <div class="form-group-title">General</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'collection'">
          <div class="form-group">
            <div class="form-group-title">General</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Short name:</label>
              <input formControlName="shortname" type="text">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group" formGroupName="owner">
            <div class="form-group-title">Ownership</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Username:</label>
              <input formControlName="username" type="text">
            </div>
            <div class="form-control">
              <label>Email Address:</label>
              <input formControlName="email" type="email">
            </div>
          </div>
          <div>Folders: <span>{{ _element.folders.order.join(', ') }}</span></div>
        </div>
        <div *ngSwitchCase="'catalog-part'">
          <div class="form-group">
            <div class="form-control">
              <label>Active:</label>
              <input readonly [value]="_element.active">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea readonly>{{ _element.description }}</textarea>
            </div>
            <div class="form-control">
              <label>Id:</label>
              <input readonly [value]="_element.id">
            </div>
            <div class="form-control">
              <label>Kind:</label>
              <input readonly [value]="_element.kind">
            </div>
            <div class="form-control">
              <label>Label:</label>
              <input readonly [value]="_element.label">
            </div>
            <div class="form-control">
              <label>Summary:</label>
              <input readonly [value]="_element.summary">
            </div>
            <div class="form-control">
              <label>Type:</label>
              <input readonly [value]="_element.type">
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'location'">
          <div class="form-group">
            <div class="form-group-title">General</div>
            <div class="form-control">
              <label>Name:</label>
              <input formControlName="name" type="text">
            </div>
            <div class="form-control">
              <label>Description:</label>
              <textarea formControlName="description"></textarea>
            </div>
            <div class="form-control">
              <label>Children:</label>
              <span>{{ _element.children.join(', ') }}</span>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
          <div>Unknown element type.</div>
          <pre>{{ _element | json }}</pre>
        </div>
      </div>
      <app-simple-tree *ngIf="root" [config]="treeConfig" [rootNode]="root" (dropEvt)="handleDrop($event)"></app-simple-tree>
      <button type="submit" [disabled]="form.invalid || !form.dirty">Update</button>
      <button type="button" (click)="reset()" [disabled]="!form.dirty">Reset</button>
      <div class="form-group" *ngIf="_element.data && refComponentEnabled">
        <div class="form-group-title">Referenced Component <span class="fa fa-external-link hoverlink" *ngIf="refComponentPath" [routerLink]="refComponentPath.path" [fragment]="refComponentPath.fragment"></span></div>
        <div class="form-control">
          <label>Name:</label>
          <input readonly type="text" [value]="_element.data.name">
        </div>
        <div class="form-control">
          <label>Description:</label>
          <textarea readonly>{{ _element.data.description }}</textarea>
        </div>
        <div class="form-control">
          <label>Buy:</label>
          <input readonly type="number" [value]="_element.data.buy">
          <small class="about">Item buy price override.</small>
        </div>
        <div class="form-control">
          <label>Sell:</label>
          <input readonly type="number" [value]="_element.data.sell">
          <small class="about">Item sell price override.</small>
        </div>
        <div class="form-control">
          <label>Core part:</label>
          <input readonly type="text" [value]="_element.data.catalog">
          <small class="about">Core reference part.</small>
        </div>
        <div class="form-control">
          <label>Qty:</label>
          <input readonly type="number" [value]="_element.data.qty"> 
          <small class="about">Core reference part quantity.</small>
        </div>
      </div>
      <button type="button" *ngIf="_element.data" (click)="refComponentEnabled = !refComponentEnabled">{{ refComponentEnabled ? 'Close' : 'Open' }} Ref. Component</button>
    </form>
  </div>
</div>
