@import "../../styles/basic";

:host {
  display:inline-block;
  background: white;
  max-height: 100vh;
  &.isWindow {
    &.isOpen {
      min-width: 400px;
    }
    .body {
      overflow-y: auto;
      padding: 0 10px 10px 10px;
      min-width: 300px;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  user-select: none;
  & > * {
    padding: 8px;
    font-size: 16px;
  }
}
:host > .window > .body {
  margin-bottom: 20px;
}
form {
  .form-group {
    .form-group-title {
      border-bottom: 1px solid @border;
      font-size: 18px;
    }
    .form-control {
      padding: 8px;
    }
    .form-group {
      padding-left: 8px;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }

  }
  .form-control {
    label, .about {
      display: block;
    }
  }
}
app-simple-tree {
  width: 100%;
}
/*
.buttons {
  & > button {
    border: none;
    background: inherit;
    font-size: 1em;
    color: inherit;
    &:active, &:focus {
      outline: none;
    }
    .hoverlink;
    padding: 8px;
    &[disabled] {
      opacity: 0.5;
      background: @border;
    }
    border: 1px solid @border;
  }
}
*/
.ref-component {
  margin-top: 10px;
}
