<div class="navigation">
  <ul class="toggle" *ngIf="nestConfig">
    <li *ngFor="let folderName of nestConfig.folders.order" [class.active]="nestConfig.folders.enabled[folderName]" (click)="toggleFolderVisibility(folderName, $event.ctrlKey)" class="hoverlink noselect">
      <span [ngClass]="FOLDER_ICONS[folderName]"></span>
      <span>{{ folderName[0].toUpperCase() + folderName.slice(1) }}</span>
    <li [class.active]="nestConfig.component.enabled" (click)="toggleComponentVisibility($event.ctrlKey)" class="hoverlink noselect">
      <span [ngClass]="FOLDER_ICONS['component']"></span>
      <span>Component</span>
    <!-- fucking weird - no closing tags -->
  </ul>
  <div class="search">
    <input type="text" placeholder="add filter">
  </div>
</div>
<div class="navigation">
  <ul class="filters">
    <li *ngFor="let filter of filters" [class.active]="filterActive(filter.affects)"><span class="fa fa-remove remove"></span><span>{{ filter.name }}</span></li>
  </ul>
</div>
<div *ngFor="let folderName of job.folders.order">
  <app-simple-tree *ngIf="folderEnabled === folderName" [rootNode]="trees[folderName]" (componentEdit)="componentEdit($event)"></app-simple-tree>
</div>
<app-nest *ngIf="nestEnabled" [nest]="nestSubject"></app-nest>
