<div class="navigation">
  <ul class="toggle" *ngIf="nestConfig">
    <li *ngFor="let folderName of nestConfig.folders.order" [class.active]="nestConfig.folders.enabled[folderName]" (click)="toggleFolderVisibility(folderName, $event.ctrlKey)" class="hoverlink noselect">
      <span [ngClass]="FOLDER_ICONS[folderName]"></span>
      <span>{{ folderName[0].toUpperCase() + folderName.slice(1) }}</span>
    <li [class.active]="nestConfig.component.enabled" (click)="toggleComponentVisibility($event.ctrlKey)" class="hoverlink noselect">
      <span [ngClass]="FOLDER_ICONS['component']"></span>
      <span>Component</span>
    <!-- fucking weird - no closing tags -->
  </ul>
  <div class="search">
    <form *ngIf="filterForm" [formGroup]="filterForm" (ngSubmit)="filterFormSubmit(filterForm)">
      <input formControlName="query" type="text" placeholder="add filter" (focus)="filterFocused.next(true)" (focusout)="filterFocused.next(false)">
    </form>
    <div class="suggestions" [hidden]="!filterSuggestions.length">
      <ul class="suggestions-list">
        <li *ngFor="let filter of filterSuggestions.slice(0, 10)" (click)="addFilter(filter)">
          <span [ngSwitch]="filter.type">
            <span *ngSwitchCase="'property'">
              <span class="rounded">{{filter.property}}</span>
              <span>{{ filter.value }}</span>
            </span>
            <span *ngSwitchCase="'price'">
              <span class="rounded">{{ filter.method === 'greaterThan' ? '>' : filter.method === 'lessThan' ? '<' : '=' }}</span>
              <span style.font-style="italic">${{ filter.value }}</span>
            </span>
            <span *ngSwitchCase="'qty'">
              <span class="rounded">{{filter.method}}</span>
              {{ filter.value }}
            </span>
            <span *ngSwitchDefault>
              <span>{{ filter.value }}</span>

            </span>
          </span>
        </li>
        <li *ngIf="filterSuggestions.length > 10">...</li>
      </ul>
    </div>
  </div>
</div>
<div class="navigation">
  <ul class="filters">
    <li *ngFor="let filter of filters" [class.active]="filterActive(filter.affects)">
      <span class="fa fa-remove remove" (click)="removeFilter(filter)"></span>
      <span>{{ filter.type }}: {{ filter.value }}</span>
    </li>
  </ul>
</div>
<div *ngFor="let folderName of job.folders.order">
  <app-simple-tree *ngIf="folderEnabled === folderName" [rootNode]="trees[folderName]" (componentEdit)="componentEdit($event)"></app-simple-tree>
</div>
<app-nest *ngIf="nestEnabled" [nest]="nestSubject"></app-nest>
