@import "../../styles/basic";

:host {
  display: block;
  margin: 0 10px 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation:not(:first-child) {
  margin-top: 6px;
}
ul.filters, ul.toggle {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  & > li {
    display: inline-block;
    span + span {
      margin-left: 4px;
    }
  }
}
ul.filters {
  & > li {
    font-size: 14px;
    padding: 4px;
    background: #F3F4F5;
    border-radius: 8px;
    border: 1px solid #D5D8DD;
    .remove {
      .hoverlink;
    }
    margin-bottom: 6px;
    &:not(:first-child) {
      margin-left: 4px;
    }
    opacity: 0.5;
    &.active {
      opacity: 1.0;
    }
  }
}
ul.toggle {
  white-space: nowrap;
  & > li {
    position: relative;
    padding: 8px;
    border: 1px solid #D5D8DD;
    z-index: 9;
    &:not(:first-child) {
      margin-left: -1px;
    }
    &.active {
      background: #E5E5E5;
    }
    &:hover {
      border: 1px solid #BCBCBC;
      z-index: 10;
    }
    &:active {
      background-color: #F3F4F5;
    }
    @media(max-width: 800px) {
      & > span:not(:first-child) {
        display: none;
      }
    }
  }
}
.search {
  margin-left: 4px;
  position: relative;
  flex-shrink: 1;

  input {
    height: 34px;
    box-sizing: border-box;
    padding: 4px;
    font-size: 1.1em;
    border-radius: 4px;
    -webkit-appearance: none;
    border: 1px solid @off-white;
    width: 100%;
    .input-italic;
  }

  .suggestions {
    position: absolute;
    right: 0;
    min-width: 100%;
    background-color: white;
    .box-shadow;
    z-index: 10;
    padding: 4px 0;

    .suggestions-list {
      padding-left: 0;
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;

      & > li {
        padding: 4px 8px;
        white-space: nowrap;
        &:hover {
          background: fade(@off-white, 20%);
          cursor: pointer;
        }
      }
      .rounded {
        padding: 4px;
        font-size: 12px;
        border-radius: 8px;
        background: @off-white;
      }
    }
    &[hidden] {
      display: none;
    }
  }
}
