<div class="navigation">
  <ul class="toggle" *ngIf="nestConfig">
    <li *ngFor="let folderName of nestConfig.folders.order" [class.active]="nestConfig.folders.enabled[folderName]">
      <span [ngClass]="FOLDER_ICONS[folderName]"></span>
      <span>{{ folderName[0].toUpperCase() + folderName.slice(1) }}</span>
    <li [class.active]="nestConfig.component.enabled">
      <span [ngClass]="FOLDER_ICONS['component']"></span>
      <span>Component</span>
    <!-- fucking weird - no closing tags -->
  </ul>
  <div class="search">
    <input type="text" placeholder="add filter">
  </div>
</div>
<app-nest [nest]="nest"></app-nest>
