@import "../../../styles/basic";

:host {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  height: 37px;

  color: black;
  background-color: #FAFAFA;
  border: 1px solid @border;
  white-space: nowrap;
  text-overflow: ellipsis;

  .generate-levels(@n, @i: 0) when(@i =< @n) {
    &[depth='@{i}'] {
      margin-left: @i * 20px;
    }
    .generate-levels(@n, (@i+1));
  }
  .generate-levels(10);

  & > span:not(:first-child):not(.spacer) {
    margin-left: 8px;
    min-width: 0;
  }

  & > .name, & > .description {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > .qty {
    &:before {
      content: 'qty';
      font-size: 10px;
    }
  }

  &.dragging {
    background: black;
    color: white;
  }
  
  &.dragover {
    background: @border;
  }

  .grip {
    color: @border;
    &:hover {
      color: black;
      cursor: move;
    }
  }

  &:focus {
    outline: none;
    background: @inactive;
  }
  &:hover {
    border: 1px solid @border-active;
    z-index: 50;
  }

}

.hoverlink {
  &:hover {
    cursor: pointer;
  }

  [hidden] {
    visibility: hidden;
  }
}

.collapse {
  transform: rotate(180deg);
  &.open {
    transform: rotate(0deg);
  }
}

.fa.fa-grip:before {
  content: "\f142\202F\f142\202F\f142";
}

.fa.fa-grip-large:before {
  content: "\f142\202F\f142\202F\f142\202F\f142\202F\f142\202F\f142\202F\f142";
}
