<div class="table">
  <span class="title">Local Jobs</span>
  <ul class="header">
    <li class="name"><a class="hoverunderline">Name</a></li>
    <li class="description"><a class="hoverunderline">Description</a></li>
    <li class="settings"></li>
    <li class="owner"><a class="hoverunderline">Owner</a></li>
    <li class="type"><a class="hoverunderline">Type</a></li>
    <li class="folders-cnt"><a class="hoverunderline"><span class="fa fa-folder-o"></span></a></li>
    <li class="components-cnt"><a class="hoverunderline"><span class="fa fa-cubes"></span></a></li>
  </ul>
  <ul class="jobs">
    <li *ngFor="let job of filter(jobs)" class="list-item" tabindex="0">
      <a class="name hoverunderline" [routerLink]="[job.owner.username, job.shortname]">{{ job.name }}</a>
      <span class="description">{{ job.description }}</span>
      <div class="settings dropdown">
        <button tabindex=0 class="dropdown-button"><span class="fa fa-cog"></span></button>
        <div class="dropdown-content">
          <a>Link 1</a>
          <a>Link 2</a>
          <a>Link 3</a>
          <a>Link 4</a>
        </div>
      </div>
      <span class="owner">{{ job.owner.name }}</span>
      <span class="type"><span class="fa" [ngClass]="job.kind !== 'job' ? 'fa-book' : 'fa-truck'"></span></span>
      <span class="folders-cnt">{{ 0 }}</span>
      <span class="components-cnt">{{ 0 }}</span>
    </li>
    <li *ngIf="!jobs || !jobs.length">
      <span class="name">None</span>
    </li>
  </ul>
  <div>
    <button (click)="createNewJob()">Create New</button>
  </div>
</div>
<div class="table">
  <span class="title">Remote Jobs</span>
  <ul class="header">
    <li class="name"><a class="hoverunderline">Name</a></li>
    <li class="description"><a class="hoverunderline">Description</a></li>
    <li class="settings"></li>
    <li class="owner"><a class="hoverunderline">Owner</a></li>
    <li class="type"><a class="hoverunderline">Type</a></li>
    <li class="folders-cnt"><a class="hoverunderline"><span class="fa fa-folder-o"></span></a></li>
    <li class="components-cnt"><a class="hoverunderline"><span class="fa fa-cubes"></span></a></li>
  </ul>
  <ul class="jobs">
    <li *ngFor="let job of filter(jobs, true)" class="list-item" tabindex="0">
      <a class="name hoverunderline" [routerLink]="[job.owner.username, job.shortname]">{{ job.name }}</a>
      <span class="description">{{ job.description }}</span>
      <span class="hoverlink settings fa fa-cog"></span>
      <span class="owner">{{ job.owner.name }}</span>
      <span class="type"><span class="fa" [ngClass]="job.kind !== 'job' ? 'fa-book' : 'fa-truck'"></span></span>
      <span class="folders-cnt">{{ 0 }}</span>
      <span class="components-cnt">{{ 0 }}</span>
    </li>
    <li *ngIf="!jobs || !filter(jobs, true).length">
      <span class="name">None</span>
    </li>
  </ul>
  <!--
  <div>
    <button (click)="createNewJob()">Create New</button>
  </div>
  -->
</div>
