.title {
  font-size: 1.5em;
}
.name {
}
.description {
}

.table {
  box-sizing: border-box;
  ul {
    position: relative;
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    li, li > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    li.name, li > .name {
      width: 40%;
    }
    li.description, li > .description {
      width: 25%;
    }
    li.owner, li > .owner {
      width: 15%;
    }
    li.type, li > .type, li.folders-cnt, li > .folders-cnt, li.components-cnt, li > .components-cnt {
      justify-content: center;
      text-align: center;
      width: 5%;
    }
  }
  ul > li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  ul.header {
    white-space: nowrap;
  }
  /*
  ul.header > li, li > * {
    display: inline-block;
  }
  */
  ul.header, li {
    display: flex;
    flex-direction: row;
  }
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.hoverunderline {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@off-white: #D5D8DD;
.default-margin-right {
  margin-right: 2px;
  @media(min-width: 500px) {
    margin-right: 10px;
  }
  @media(min-width: 1000px) {
    margin-right: 20px;
  }
}
.default-margin-left {
  margin-left: 2px;
  @media(min-width: 500px) {
    margin-left: 10px;
  }
  @media(min-width: 1000px) {
    margin-left: 20px;
  }
}
.default-margin {
  .default-margin-left;
  .default-margin-right;
}
