@import "../../styles/basic";

:host {
  display: block;
  height: ~"calc(100% - " @nav-height + 16px ~")";
}

.body {
  display: flex;
  flex-direction: row;
  height: 100%;

  & > .side {
    width: 320px;
    flex-direction: column;
    overflow: auto;
  
    .search {
      position: relative;
      .default-margin;

      input {
        box-sizing: border-box;
        padding: 4px;
        font-size: 1.1em;
        border-radius: 4px;
        -webkit-appearance: none;
        border: 1px solid @off-white;
        width: 100%;
        .input-italic;
      }
    }
  
    & > ul {
      padding-left: 0;
      list-style-type: none;

      & > li {
        padding: 8px;
        height: 40px;
        box-sizing: border-box;
      }
    }
  }

  & > .main {
    flex-grow: 1;
    min-width: 0;
    .default-margin-right;
  }
}
