:host {
  display: block;
  margin: 0 10px 10px;

  & /deep/ svg {
    .circle {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  & > div {
    max-width: 1200px;
    position: relative;
  }

  .controls {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 400px;

    li {
      margin-bottom: 10px;
    }
  }
}
