<nav>
  <div class="titleblock">
    <span class="title">{{ job.name }}</span>
    <span class="description">{{ job.shortname }}</span>
  </div>
  <span class="spacer"></span>
  <div class="links">
    <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['build']">Build</a>
    <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['edit']">Edit</a>
    <a routerLinkActive="active" [routerLink]="['estimate']">Estimate</a>
    <a routerLinkActive="active" [routerLink]="['details']">Details</a>
  </div>
  <div class="links-alt">
    <span>Pages <span class="fa fa-caret-down"></span></span>
    <div>
      <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['build']">Build</a>
      <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['edit']">Edit</a>
      <a routerLinkActive="active" [routerLink]="['estimate']">Estimate</a>
      <a routerLinkActive="active" [routerLink]="['details']">Details</a>
    </div>
  </div>
</nav>
<div class="info">
  <div class="total-label">Buy</div>
  <div class="total-value">{{stats.buy | currency:'USD':true}}</div>
  <div class="total-label">Sell</div>
  <div class="total-value">{{stats.sell | currency:'USD':true}}</div>
  <div class="spacer"></div>
  <div class="counts">
    <span title="number of folders">{{stats.folderCnt}}<span class="fa fa-folder-o"></span></span>
    <span title="number of unique components">{{stats.componentCnt}}<span class="fa fa-cube"></span></span>
    <span title="number of children">{{stats.childCnt}}<span class="fa fa-cubes"></span></span>
  </div>
</div>
<div class="roots" *ngIf="nestConfig">
  <ul *ngFor="let name of nestConfig.folders.order">
    <li (click)="changeRoot(null, name)" [title]="'root ' + name"><span class="fa fa-fw" [ngClass]="name | typeToClass"></span></li>
    <li *ngIf="(rootPaths[name] || []).length > (nestConfig.folders.order.length > 1 ? 3 : 2)"><span>…</span></li>
    <li (click)="changeRoot(each.id, name)" class="text" [title]="each.name + '(' + name + ')'" *ngFor="let each of (rootPaths[name] || []).slice(-3)"><span>{{ each.name }}</span></li>
  </ul>
</div>
<router-outlet></router-outlet>
<div class="edit-windows" *ngIf="editWindowsEnabled">
  <div class="container">
    <app-edit-window *ngFor="let id of openElementIds" [isWindow]="true" [config]="openElements[id].config" [element]="openElements[id].element" (close)="closeOpenElement(openElements[id])"></app-edit-window>
  </div>
</div>
