@import "../../styles/basic";

:host {
  .default-host;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  height: @main-height + 16px;
  justify-content: space-between;

  .detail {
    padding: 0 8px;
    & > * {
      display: block;
    } 
    .title {
      font-size: 2.0em;
      margin-bottom: 4px;
    }
  }
  .links {
    padding: 8px;
    & > *:not(:first-child) {
      margin-left: 8px;
    }
    line-height: @main-height;
    & > *.active {
      font-style: italic;
    }
  }
}

.info {
  height: @info-height;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  & > li {
    display: inline-block;
    line-height: @info-height - 16px;
    padding: 8px;

    &.counts {
      span > span {
        margin-left: 4px;
      }
      
      span + span {
        margin-left: 8px;
      }
    }
  }
}

.edit-windows {
  height: 60px;

  .container {
    position: fixed;
    bottom: 0;
    right: 10px;
    max-width: 80%;
    overflow-x: auto;
    //overflow-y: visible;
    white-space: nowrap;
    direction:rtl;
    //max-height: 40px;
    display: flex;
    //pointer-events: none;
  
    & > app-edit-window {
      direction:ltr;
      pointer-events: auto;
      margin: 0 5px;
      &:first-child {
        margin-right: 10px;
      }
      display: inline-block;
      align-self: flex-end;
      vertical-align: bottom;
      .box-shadow-2;
      border-top: 1px solid rgba(0, 0, 0, 0.18);
      border-left: 1px solid rgba(0, 0, 0, 0.18);
      border-right: 1px solid rgba(0, 0, 0, 0.18);
      background: #F8F8F8;
    }
  }
}
