<nav>
  <div class="titleblock">
    <span class="title">{{ job.name }}</span>
    <span class="description">{{ job.shortname }}</span>
  </div>
  <span class="spacer"></span>
  <div class="links">
    <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['build']">Build</a>
    <a routerLinkActive="active" [preserveFragment]="true" [routerLink]="['edit']">Edit</a>
    <a routerLinkActive="active" [routerLink]="['estimate']">Estimate</a>
    <a routerLinkActive="active" [routerLink]="['details']">Details</a>
  </div>
</nav>
<ul class="info">
  <li>
    <span>Buy</span>
    <span style="font-style:italic">{{stats.buy | currency:'USD':true}}</span>
    <span>Sell</span>
    <span style="font-style:italic">{{stats.sell | currency:'USD':true}}</span>
  </li>
  <li class="counts">
    <span title="number of folders">{{stats.folderCnt}}<span class="fa fa-folder-o"></span></span>
    <span title="number of unique components">{{stats.componentCnt}}<span class="fa fa-cube"></span></span>
    <span title="number of children">{{stats.childCnt}}<span class="fa fa-cubes"></span></span>
  </li>
</ul>
<router-outlet></router-outlet>
<div class="edit-windows" *ngIf="editWindowsEnabled">
  <div class="container">
    <app-edit-window *ngFor="let id of openElementIds" [isWindow]="true" [config]="openElements[id].config" [element]="openElements[id].element" (close)="closeOpenElement(openElements[id])"></app-edit-window>
  </div>
</div>
