<div class="main">
  <div class="detail">
    <span class="title">{{ job.name }}</span>
    <span class="description">{{ job.description }}</span>
  </div>
  <div class="links">
    <a class="hoverunderline" routerLinkActive="active" routerLink="./build">Build</a>
    <a class="hoverunderline" routerLinkActive="active" routerLink="./edit">Edit</a>
    <a class="hoverunderline" routerLinkActive="active" routerLink="./estimate">Estimate</a>
    <a class="hoverunderline" routerLinkActive="active" routerLink="./details">Details</a>
  </div>
</div>
<ul class="info">
  <li>
    <span style="font-style:italic">Buy</span>
    <span>$3.50</span>
    <span style="font-style:italic">Sell</span>
    <span>$400</span>

  </li>
  <li>
    <span class="fa fa-folder-o"></span><span>20</span>
    <span class="fa fa-cubes"></span><span>10</span>
  </li>
</ul>
<router-outlet></router-outlet>
