@import "../../styles/basic";

.generate-levels(@n, @i: 0) when(@i =< @n) {
  &:nth-child(@{i}) {
    z-index: (20 - @i);
  }
  .generate-levels(@n, (@i+1));
}

:host {
  .default-host;
  width: 100%;
}

:host > nav {
  display: flex;
  height: 60px;
  position: relative;

  border-bottom: 1px solid @off-white;

  .titleblock {
    line-height: 60px;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .title {
      font-size: 2em;
    }
  }

  .links {
    display: flex;
    & > a {
      display: block;
      position: relative;
      height: 60px;
      padding: 0 8px;
      line-height: 60px;
      color: inherit;
      text-decoration: none;

      &.active {
        background-color: #E5E5E5;
      }
    }
    @media(max-width: 800px) {
      display: none;
    }
  }
  .links-alt {
    position: relative;
    border-left: 1px solid @off-white;
    & > span {
      display: block;
      height: 60px;
      line-height: 60px;
      padding: 0 8px;
      white-space: nowrap;
    }
    & > div {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: -9px; // +1 border
      margin-right: -1px;

      background-color: white;
      z-index: 10;
      min-width: 120px;
      .box-shadow;
      border: 1px solid @off-white;
      padding: 8px 0;
      & > a {
        display: block;
        text-align: right;
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        color: inherit;
        text-decoration: none;
        &.active {
          background-color: #E5E5E5;
        }
      }
    }
    &:hover > div {
      display: block;
    }
    @media(min-width: 800px) {
      display: none;
    }
  }
}

.roots {
  display: flex;
  margin-bottom: 10px;
  border-top: 1px solid @off-white;
  border-bottom: 1px solid @off-white;
  background-color: #F3F4F5;

  & > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    z-index: 10;
    flex-shrink: 1;
    min-width: 0;

    & > li {
      position: relative;
      line-height: 30px;
      height: 30px;
      background-color: #F8F8F8;
      padding-left: 15px + 4px;
      user-select: none;
      cursor: pointer;
      max-width: 200px;

      &.text {
        flex-shrink: 1;
        min-width: 0;

        & > span {
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: -15px;
          padding-right: 15px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        border-top: 1px solid @off-white;
        border-right: 1px solid @off-white;
        top: 0;
        bottom: 0;
        left: 100%;
        transform: translateY(15px) rotate(45deg) translateX(-15px);
        width: 21.21px;
        height: 21.21px;
        background-color: inherit;
      }

      &:hover {
        background-color: #E5E5E5;
      }
      .generate-levels(20, 0);

    }
    &:last-child {
      margin-right: 20px;
    }

  }
  ul + ul {
    z-index: 9;
  }
  ul:first-child > li:first-child {
    padding-left: 10px;
  }
}

.info {
  height: @info-height;
  display: flex;
  line-height: 28px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 4px;

  .total-label {
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 0 4px;
  }
  .total-value {
    font-style: italic;
  }

  & > .counts {
    span > span {
      margin-left: 4px;
    }
    
    span + span {
      margin-left: 8px;
    }
  }
}

.edit-windows {
  height: 60px;

  .container {
    position: fixed;
    bottom: 0;
    right: 10px;
    max-width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    direction:rtl;
    display: flex;
  
    & > app-edit-window {
      direction:ltr;
      pointer-events: auto;
      margin: 0 5px;
      &:first-child {
        margin-right: 10px;
      }
      display: inline-block;
      align-self: flex-end;
      vertical-align: bottom;
      .box-shadow-2;
      border-top: 1px solid #D3D3D3;
      border-left: 1px solid #D3D3D3;
      border-right: 1px solid #D3D3D3;
      background: #F8F8F8;
    }
  }
}
