@import "../../styles/basic";

:host {
  display: block;
  margin: 0 10px 10px;
}
input, textarea {
  padding: 4px;
  border: 1px solid #D5D8DD;
  &:focus {
    outline: none;
    border: 1px solid #BCBCBC;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.new-types {
  display: inline-block;
  white-space: nowrap;

  & > button {
    position: relative;
    border: none;
    background: inherit;
    font-size: 1em;
    color: inherit;
    z-index: 9;

    &:active, &:focus {
      outline: none;
    }
    &:hover {
      border: 1px solid #BCBCBC;
      z-index: 10;
    }
    .hoverlink;
    padding: 8px;

    &:not([disabled]) {
      background: #F3F4F5;
    }

    border: 1px solid #d1d1d1;
    margin-bottom: -1px;

    &[disabled] {
      border-bottom: 1px solid white;
    }
  }

  &.none > button {
    background-color: #F8F8F8;
  }
}
ul.tabs {
  display: block;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow-x: auto;

  & > li {
    display: inline-block;
    position: relative;

    z-index: 9;
    padding: 8px;
    max-width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span + span {
      margin-left: 4px;
    }

    border: 1px solid #D5D8DD;

    &:hover {
      z-index: 10;
      border: 1px solid #BCBCBC;
    }

    &.active {
      background: #E5E5E5;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}
form {
  padding: 10px;
  border: 1px solid #d1d1d1;
  min-width: 400px;

  .form-group {
    .form-group-title {
      font-size: 18px;
    }
    .form-control {
      padding: 8px;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }

  }
  .form-control {
    label, .about {
      display: block;
      max-width: 400px;
    }
  }

  .radio {
    display: inline-block;
    white-space: nowrap;

    input {
      display: none;
    }
    input:checked + label {
      background: rgba(0, 0, 0, 0.08);
    }
    label {
      padding: 4px;
      font-size: 14px;
      position: relative;
      border: 1px solid #D5D8DD;
      z-index: 9;

      &:not(:first-child) {
        margin-left: -1px;
      }
      &:hover {
        cursor: pointer;
        border: 1px solid #BCBCBC;
        z-index: 10;
      }

    }
    & > div {
      display: inline-block;
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
app-edit-window {
  width: 100%;
}
