@import "../../styles/basic";

:host {
  display: block;
  margin: 0 10px 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.new-types {
  display: inline-block;
  margin-bottom: -1px;
  border-bottom: 1px solid #d1d1d1;

  & > button {
    border: none;
    background: inherit;
    font-size: 1em;
    color: inherit;
    &:active, &:focus {
      outline: none;
    }
    .hoverlink;
    padding: 8px;
    &:not([disabled]) {
      background: rgba(0, 0, 0, 0.08);
    }
    &[disabled] {
      border-bottom: 1px solid white;
      margin-bottom: -1px;
    }
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }
}
ul.tabs {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow-x: auto;
  & > li {
    display: inline-block;
    padding: 8px;
    span + span {
      margin-left: 4px;
    }
    &:not(:first-child) {
      border-left: 1px solid @off-white;
    }
    &.active {
      color: white;
      background: black;
    }
  }
}
form {
  padding: 10px;
  border: 1px solid #d1d1d1;
  max-width: 400px;

  .form-group {
    .form-group-title {
      font-size: 18px;
    }
    .form-control {
      padding: 8px;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }

  }
  .form-control {
    label, .about {
      display: block;
    }
  }

  .radio {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.18);

    input {
      display: none;
    }
    input:checked + label {
      background: #d1d1d1;
    }
    label {
      padding: 4px;
      .hoverlink;
    }
    & > div {
      display: inline-block;
      &:not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.18);
      }
    }
  }
}
app-edit-window {
  width: 100%;
}
