<div class="navigation">
  <ul class="tabs">
    <li [class.active]="element == selectedElement" *ngFor="let element of openElements">
      <span class="fa fa-lg" [ngClass]="typeOf(element) | typeToClass"></span>
      <span>{{ element.name }}</span>
  </ul>
</div>
<div class="main">
  <div *ngIf="!selectedElement">
    <p>No element has been selected.  Search for one in on the left or create a new one.</p>
  </div>
  <app-edit-window *ngIf="selectedElement" [element]="selectedElement"></app-edit-window>
</div>
