@import "../styles/basic";

:host {
  .default-host;
}

nav {
  height: @nav-height + 16px;
  .title {
    padding: 8px;
    font-size: 1.5em;
  }
  span, a {
    line-height: @nav-height;
    &.active {
      font-style: italic;
    }
  }

  & > div {
    .default-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > .links {
      padding: 8px;
      & > *:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}
