<nav>
  <div>
    <a class="nostyle title" routerLink="/">{{ title }}</a>
    <div class="links">
      <a *ngIf="user" class="nostyle" routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a *ngIf="user" class="nostyle" routerLink="/users" routerLinkActive="active">Users</a>
      <a class="nostyle" routerLink="/search" routerLinkActive="active">Search</a>
      <a class="nostyle" routerLink="/settings" routerLinkActive="active">Settings</a>
      <a class="nostyle" routerLink="/login" routerLinkActive="active"><span class="fa fa-fw fa-user-o"></span></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
