@import "../styles/basic";

:host {
  .default-host;
  background-color: #F0F0F0;

  @media(min-width: 1000px) {
    margin: 0 auto;
    max-width: 1200px;
  }

  nav {
    height: @nav-height;

    .title {
      padding: 0 8px;
      font-size: 1.5em;
    }

    & > div {
      .default-margin;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      line-height: @nav-height;

      & > .links {
        display: flex;

        & > a {
          padding: 0 8px;
          position: relative;
          &.active:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: ~"calc(50% - 8px)";
            bottom: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid lightgrey;
          }
        }
      }
    }
  }
}
