<span [ngClass]="kind == 'folder' ? 'fa fa-folder-o' : 'fa fa-cubes'" class="icon"></span>
<a class="hoverunderline name" [routerLink]="['../edit', kind, data.data.id]">{{data.data.name||data.data.data.name}}</a>
<span class="spacer"></span>
<span class="description">{{data.data.data ? data.data.data.description : data.data.description}}</span>
<span *ngIf="kind == 'component'" class="qty">{{data.data.qty}}</span>
<span (mouseenter)="gripHoverEnter()" (mouseleave)="gripHoverLeave()" class="grip fa fa-grip"></span>
