@import '../../basic';

@small-tree-element-height: 20px;
@tree-element-height: 40px;

:host[draggable='true']:hover {
  cursor: pointer;
}

:host {
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  padding: 0 4px;
  height: @tree-element-height;
  line-height: @tree-element-height;
  display: flex;
  flex-direction: row;
  z-index: 9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: transform 0.25s ease, height 0.25s ease, width 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  .spacer {
    flex-grow: 1;
  }
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    line-height: @tree-element-height;
  }
  .icon {
    padding: 0 4px;
  }

  .qty {
    background: @blue2;
    color: @blue4;
    padding: 0 10px;
    margin-left: 8px
  }
}

:host-context(.dragging) * {
  pointer-events: none;
}

// when host context (tree) has shadow
:host-context(.shadow) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: lighten(@blue2, 10%);
  border: 1px solid @blue2;
  &.dragged {
    z-index: 0 !important;
    background: @blue2;
    box-shadow: unset;
    opacity: 0.75 !important;
  }
}
:host.dragged > .grip {
  visibility: hidden;
}
:host.small {
  height: @small-tree-element-height;
  line-height: @tree-element-height;
}
.grip {
  color: @blue3;
  font-size: 0.75em;
  padding: 0 4px;
}
:host.active:not(.dragged) {
  height: 2*@tree-element-height;
}
