@import '../basic';

.container {
  & > .header {
    h1 {
      margin-top: 0;
    }
  }
  & > .body {
    position: relative;
    min-height: 600px;
    & > .search {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: @search-width;
      transition: max-height 1s ease;
      min-height: 100%;
      max-height: 100vh;
      @media(max-width:@med) {
        max-height: @navigation-height;
      }
    }
    
    & > .page {
      @media(min-width:@med) {
        margin-left: @search-width;
      }
    }
  }
}
