<div class="container">
  <div class="header">
    <div *ngIf="job">
      <h1>{{job.name}} <small>({{job.shortname}})</small></h1>
      <label>Description:</label>
      <p>{{job.description}}</p>
      <p>Owned by {{job.owner.name}} ({{job.owner.username}})</p>
      <div *ngIf="lastSave">
        <p>Last save <a [routerLink]="['saves', { commit: job.commit }]"><q>{{ lastSave.message }}</q></a> by {{ lastSave.author.name }} on <span [title]="lastSave.author.date">{{ lastSave.author.date | date:'medium' }}</span> <a [routerLink]="['saves']">History</a></p>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="search">
      <app-search></app-search>
      <app-search-results></app-search-results>
    </div>
    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
