@import '../basic';

.small-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10vh;
  //background: @blue1;
  background: lighten(@blue2, 10%);
  border: 1px solid @blue2;
  color: @blue4;
}

.icon {
  padding: 8px;
}

.list {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  .header-item, .last-item {
    padding: 0 10px;
  }
  .header-item {
    height: 60px;
    font-size: 1.75em;
    line-height: 70px;
    border-color: @blue2;
    border-style: solid;
    border-width: 1.25px 1.25px 0 1.25px;
    border-bottom: 1px solid @blue2;
  }
  .last-item {
    height: 80px;
    line-height: 80px;
    font-size: 1.25em;
    border-color: @blue2;
    border-style: solid;
    border-width: 0 1.25px 1.25px 1.25px;
  }
  .list-item {
    height: 60px;
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-color: @blue2;
    border-style: solid;
    border-width: 0 1.25px 0 1.25px;
    border-bottom: 1px solid @blue2;

    & > div {
      margin: auto 0;
      min-width: 0;
      &.details {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
    .name, .description {
      display: block;
    }
    .name {
      font-size: 1.5em;
    }
    .description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .cnts, .cnt {
      white-space: nowrap;
      flex-basis: auto;
    }
    .cnt {
      font-size: 1.5em;
    }
    .cnt + .cnt.fa {
      padding-left: 3px;
    }
    .cnt + .cnt.fa + .cnt {
      margin-left: 10px;
    }
  }
}

.job {
  .statusBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.1);
    z-index: 2;
    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }
  &.loading {
    & > *:not(.statusBox) {
      filter: blur(2px);
    }
    & > .statusBox {
      display: block;
    }
  }
  &.ready > .statusBox {
    display: none;
  }
}

.form {
  .form-control {
    display: flex;
    flex-direction: row;
    label {
      min-width: 100px;
    }
    margin-bottom: 10px;
  }
}
