<div class="small-container">
  <div class="list">
    <div class="header-item">Jobs</div>
    <div *ngFor="let job of jobs" class="list-item" tabindex=1>
      <div>
        <span class="name hoverunderline" routerLink="{{job.getURL()}}">{{ job.name }}</span>
        <span class="description">{{ job.description }}</span>
      </div>
      <div class="cnts">
        <span class="cnt">10</span><span class="cnt fa fa-building-o"></span>
        <span class="cnt">4</span><span class="cnt fa fa-bookmark-o"></span>
        <span class="cnt">223</span><span class="cnt fa fa-cubes"></span>
      </div>
    </div>
    <div class="last-item">
      <span class="hoverunderline">Create New Job</span>
    </div>
  </div>
</div>
