<div class="navigation-controls">
  <div *ngIf="job" class="navigation-bar spacer">
    <div *ngFor="let type of job.folders.types">
      <span class="hoverlink tab min" [class.active]="enabled[type].enabled" (click)="toggleEnabled(type)">
        <span [ngClass]="FOLDER_ICONS[type]"></span>
        <span>{{ type[0].toUpperCase() + type.slice(1) }}</span>
      </span>
    </div>
    <div>
      <span class="hoverlink tab min" [class.active]="enabled['components'].enabled" (click)="toggleEnabled('component')">
        <span class="fa fa-cubes fa-lg"></span>
        <span>Component</span>
      </span>
    </div>
    <span class="spacer"></span>
    <div class="dropdown">
      <span class="tab min">
        <span class="fa fa-sliders fa-lg"></span>
        <span>Options</span>
      </span>
      <div class="dropdown-body">
        <span [class.active]="sort == 'asc'" class="hoverlink" (click)="changeSort('asc')">
          <span>Sort Asc</span>
        </span>
        <span [class.active]="sort == 'desc'" class="hoverlink" (click)="changeSort('desc')">
          <span>Sort Desc</span>
        </span>
        <span [class.active]="sort != 'desc' && sort != 'asc'" class="hoverlink" (click)="changeSort('')">
          <span>No Sort</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <app-tree [options]="treeOptions" class="shadow" [tree]="elements"></app-tree>
</div>
